target/*
bin/*
build/*
.gradle/*
.devcontainer/*
.settings/*
.classpath
.project
.factorypath
.attach_pid*
.idea
*.iml
/target
.sts4-cache/
.vscode
_site/
*.css
!petclinic.css
token*
*.pem
cert*
cacerts
.DS*
.groovylintrc.json
